In [ ]:
import pandas as pd
data= {"Name": ['Tom', 'abc','def'],
       'Age':[10,20,30]}
df= pd.DataFrame(data)
print(df)

  Name  Age
0  Tom   10
1  abc   20
2  def   30

In [ ]:
import pandas as pd


df = pd.read_csv('/content/AWCustomers[1].csv')
df.head(10)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
5,22092,NaN,Andrea,NaN,Young,NaN,9384 Ashmount Way,NaN,Tacoma,Washington,...,High School,Skilled Manual,F,M,1,2,2,2,61944,2017-03-06
6,11229,NaN,Adrian,C,Stewart,NaN,6898 Shaw Rd.,NaN,Redwood City,California,...,Partial College,Manual,M,S,1,1,0,0,34919,2017-03-06
7,24179,NaN,Robyn,R,Blanco,NaN,6270 Pinecreek Way,NaN,Lavender Bay,New South Wales,...,Partial College,Skilled Manual,F,M,0,1,0,0,61832,2017-03-06
8,12127,NaN,Grace,NaN,Davis,NaN,"8188, rue Lamarck",NaN,Dunkerque,Nord,...,Partial College,Clerical,F,M,1,0,0,2,83834,2017-03-06
9,19903,NaN,Marcus,N,Nelson,NaN,"5, rue des Bouchers",NaN,Metz,Moselle,...,High School,Manual,M,S,0,1,0,0,26880,2017-03-06

In [ ]:
import pandas as pd


df = pd.read_csv('/content/AWCustomers[1].csv')


drop = ['Gender', 'Suffix', 'Title', 'FirstName','MiddleName','LastName','AddressLine1','AddressLine2','City','StateProvinceName','CountryRegionName','PostalCode','PhoneNumber']
df = df.drop(columns=drop)

# Display the updated DataFrame
df.head(10)

,CustomerID,BirthDate,Education,Occupation,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,1987-11-13,Bachelors,Clerical,M,1,3,0,1,81916,2017-03-06
1,13249,1972-07-21,Partial College,Clerical,M,1,2,1,2,81076,2017-03-06
2,29350,1985-11-09,Bachelors,Clerical,S,0,3,0,0,86387,2017-03-06
3,13503,1977-10-18,Partial College,Skilled Manual,M,1,2,1,2,61481,2017-03-06
4,22803,1975-02-05,Partial College,Skilled Manual,S,1,1,0,0,51804,2017-03-06
5,22092,1975-02-23,High School,Skilled Manual,M,1,2,2,2,61944,2017-03-06
6,11229,1971-12-03,Partial College,Manual,S,1,1,0,0,34919,2017-03-06
7,24179,1997-03-07,Partial College,Skilled Manual,M,0,1,0,0,61832,2017-03-06
8,12127,1976-12-14,Partial College,Clerical,M,1,0,0,2,83834,2017-03-06
9,19903,1976-12-04,High School,Manual,S,0,1,0,0,26880,2017-03-06

Creating new dataframe with selected values.

In [ ]:
import pandas as pd

df= pd.read_csv("/content/AWCustomers[1].csv")
selected_columns=['Gender','MaritalStatus', 'HomeOwnerFlag','TotalChildren', 'YearlyIncome']
columns= df[selected_columns]

columns.head(10)

  Gender MaritalStatus  HomeOwnerFlag  TotalChildren  YearlyIncome
0      M             M              1              1         81916
1      M             M              1              2         81076
2      F             S              0              0         86387
3      M             M              1              2         61481
4      M             S              1              0         51804
5      F             M              1              2         61944
6      M             S              1              0         34919
7      F             M              0              0         61832
8      F             M              1              2         83834
9      M             S              0              0         26880

1. Discrete vs. Continuous Data:
Discrete Data: Countable values, often integers (e.g., number of children, cars owned).
Continuous Data: Measurable values, can take any value within a range (e.g., age, income).
2. Levels of Measurement:
Nominal: Categories with no inherent order (e.g., occupation, gender).
Ordinal: Ordered categories, but the difference between them isn’t meaningful (e.g., education level).
Interval: Ordered with meaningful differences, but no true zero (e.g., birthdate, temperature in Celsius).
Ratio: Like interval, but with a true zero, allowing for meaningful ratios (e.g., income, weight).

In [ ]:
#Using drop
print("Shape before dropping nulls:", df.shape)

df = df.dropna()

print("Shape after dropping nulls:", df.shape)

Shape before dropping nulls: (18361, 24)
Shape after dropping nulls: (0, 24)

In [ ]:
df= df.dropna(axis=1, how='all')

df_num= df.select_dtypes(include='number')
df_num.head() #all the numeric columns
df[df_num.columns]= df_num.fillna(df_num.mean()) #filling the null values in numeric columns with mean
df.head(10)

df_cat= df.select_dtypes(include= 'object')
df_cat.head() #all the categorical columns
df[df_cat.columns]= df_cat.fillna(df_cat.mode()) #filling the null values in categorical columns with mode
df.head(20)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,Mr.,Chad,C,Yuan,Jr.,7090 C. Mount Hood,Verkaufsabteilung,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
5,22092,NaN,Andrea,NaN,Young,NaN,9384 Ashmount Way,NaN,Tacoma,Washington,...,High School,Skilled Manual,F,M,1,2,2,2,61944,2017-03-06
6,11229,NaN,Adrian,C,Stewart,NaN,6898 Shaw Rd.,NaN,Redwood City,California,...,Partial College,Manual,M,S,1,1,0,0,34919,2017-03-06
7,24179,NaN,Robyn,R,Blanco,NaN,6270 Pinecreek Way,NaN,Lavender Bay,New South Wales,...,Partial College,Skilled Manual,F,M,0,1,0,0,61832,2017-03-06
8,12127,NaN,Grace,NaN,Davis,NaN,"8188, rue Lamarck",NaN,Dunkerque,Nord,...,Partial College,Clerical,F,M,1,0,0,2,83834,2017-03-06
9,19903,NaN,Marcus,N,Nelson,NaN,"5, rue des Bouchers",NaN,Metz,Moselle,...,High School,Manual,M,S,0,1,0,0,26880,2017-03-06
10,25924,NaN,Hannah,NaN,Robinson,NaN,536 Beech Ct.,NaN,Redwood City,California,...,Partial College,Clerical,F,S,0,1,0,0,77258,2017-03-06
11,23033,NaN,Alex,J,Turner,NaN,9973 Mcnutt Ave,NaN,Lakewood,California,...,Bachelors,Management,M,M,1,3,0,0,102698,2017-03-06
12,20029,NaN,Jan,M,Evans,NaN,7787 Olive St.,NaN,Los Angeles,California,...,Bachelors,Management,F,M,1,1,1,2,108198,2017-03-06
13,22031,NaN,Jorge,NaN,Cai,NaN,7952 Quartermaster,NaN,Wollongong,New South Wales,...,Bachelors,Professional,M,M,1,2,0,2,133762,2017-03-06
14,23770,NaN,Jamie,NaN,Carlson,NaN,8191 Scenic Ct.,NaN,Maidenhead,England,...,Partial High School,Manual,M,S,0,1,0,0,30526,2017-03-07
15,23770,NaN,Jamie,NaN,Carlson,NaN,8191 Scenic Ct.,NaN,Maidenhead,England,...,Partial High School,Manual,M,S,0,1,0,0,30526,2017-03-06
16,23737,NaN,Elena,NaN,Velez Amezaga,NaN,9613 Camino Royale,NaN,Beverly Hills,California,...,Partial College,Skilled Manual,F,M,1,2,0,2,56353,2017-03-06
17,17127,NaN,Makayla,A,Gray,NaN,9442 Lacanda,NaN,Puyallup,Washington,...,High School,Clerical,F,S,1,3,1,1,79019,2017-03-06
18,28130,NaN,Joshua,M,Taylor,NaN,1145 Paraiso Ct.,NaN,Langley,British Columbia,...,Partial College,Skilled Manual,M,S,0,2,0,0,55387,2017-03-06
19,28455,NaN,Raymond,E,Sara,NaN,Zollstr 68,Verkaufsabteilung,Darmstadt,Hessen,...,Bachelors,Management,M,M,1,2,0,2,113276,2017-03-06

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df_num = df.select_dtypes(include=['number'])
scaler = MinMaxScaler()
df_norm = pd.DataFrame(scaler.fit_transform(df_num), columns=df_num.columns)

print(df_norm.head(20))

ImportError: cannot import name 'jaccard_score' from 'sklearn.preprocessing' (/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/__init__.py)

In [ ]:

df_selected = df[selected_columns]

df_selected = df_selected.dropna()

df_transformed = pd.get_dummies(df_selected, columns=['Gender','MaritalStatus','HomeOwnerFlag','YearlyIncome'])
print(df_transformed.head())

   TotalChildren  Gender_F  Gender_M  MaritalStatus_M  MaritalStatus_S  \
0              1     False      True             True            False
1              2     False      True             True            False
2              0      True     False            False             True
3              2     False      True             True            False
4              0     False      True            False             True

   HomeOwnerFlag_0  HomeOwnerFlag_1  YearlyIncome_25435  YearlyIncome_25445  \
0            False             True               False               False
1            False             True               False               False
2             True            False               False               False
3            False             True               False               False
4            False             True               False               False

   YearlyIncome_25449  ...  YearlyIncome_138930  YearlyIncome_138941  \
0               False  ...                False                False
1               False  ...                False                False
2               False  ...                False                False
3               False  ...                False                False
4               False  ...                False                False

   YearlyIncome_139018  YearlyIncome_139031  YearlyIncome_139032  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   YearlyIncome_139071  YearlyIncome_139082  YearlyIncome_139099  \
0                False                False                False
1                False                False                False
2                False                False                False
3                False                False                False
4                False                False                False

   YearlyIncome_139109  YearlyIncome_139115
0                False                False
1                False                False
2                False                False
3                False                False
4                False                False

[5 rows x 15363 columns]

In [ ]:
import pandas as pd
from sklearn.metrics import jaccard_score
from sklearn.metrics.pairwise import cosine_similarity

row1 = df_transformed.iloc[0].values
row2 = df_transformed.iloc[1].values

# Simple Matching Coefficient (SMC)
simple_matching = (row1 == row2).mean()

# Jaccard Similarity for Binary Data
try:
    jaccard_similarity = jaccard_score(row1, row2, average='binary')
except ValueError:
    print("Jaccard similarity can only be used with binary data.")

# Cosine Similarity for Numeric Data
cosine_similarity_value = cosine_similarity([row1], [row2])[0][0]

# Output the similarity results
print("Simple Matching Coefficient (SMC):", simple_matching)
print("Cosine Similarity:", cosine_similarity_value)

Jaccard similarity can only be used with binary data.
Simple Matching Coefficient (SMC): 0.9998047256395235
Cosine Similarity: 0.7905694150420948